[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
requests = "~=2.32.3"
bs4 = "~=0.0.2"
beautifulsoup4 = "~=4.12.3"
pymysql = "~=1.1.1"
mysqlclient = "==2.2.4"
whitenoise = "~=6.7.0"
pandas="~2.2.2"
openpyxl="~3.1.5"
[dev-packages]

[requires]
python_version = "3.12"