<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery.js"></script>
</head>
<body>
    <input type="number" id="a1">
    <p>x</p>
    <input type="number" id="a2">
    <p>=</p>
    <input type="number" id="a3">
    <button id="btn">calculating</button>
</body>
<script>
    $('#btn').click(function(){
        $.ajax({
            url: "{% url 'pro' %}",
            method: 'post',
            data: {
                'a1': $('#a1').val(),
                'a2': $('#a2').val()
            },
            success: function(args){
                $('#a3').val(args)
            },
            error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
        })
    })
</script>
</html>